__pycache__/
*.pyc

.venv/
venv/

.env
*.log

.DS_Store

build/
dist/

*.mp3

history.json
favorites.json
settings.json

*.spec

animations/opening/README.txt
animations/opening/animation.js
animations/opening/index.html
animations/opening/style.cssdist/ 
build/ 
